.card {
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.3);

  max-width: 322px;
  max-height: 322px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__name {
  top: 15px;
  margin: 0;
  position: absolute;

  box-sizing: border-box;
  background-color: #fff;
  padding: 2px 15px 2px 15px;
  border-radius: 4px;

  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
}
