.item_modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_modal_opened {
  visibility: visible;
}

.item_modal__container {
  background-color: #fff;
  max-width: 498px;
  max-height: 610px;
  border-radius: 16px;
  position: relative;
  padding: 0;
  margin: 0;
}

.item_modal__image {
  width: 100%;
  max-height: 498px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.item_modal__close_button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.item_modal__close_button:hover {
  cursor: pointer;
}

.item_modal__caption {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  margin: 20px 0 0 32px;
}

.item_modal__weather {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  margin: 12px 0 32px 32px;
}

.item_modal__caption_container {
  display: flex;
}

.item_modal__delete_button {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ff4d00;

  padding: 0;
  margin: 20px 32px 0 204px;

  height: 24px;
  width: auto;
  border: none;
  background-color: white;
}

.item_modal__delete_button:hover {
  cursor: pointer;
}
